/* CSS Document */

* {
	font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
}

body {
	margin: 0;
	background-color: #D2D9DD;
}


/* STUFF IN THE TOP */
.top-bar {
	width: 100%;
	padding: 20px 0;
	
	background-color: #183543;
}

.top-contents {
	margin: 0 auto;
	width: 400px;
}

h1 {
	color: #FC0;
	font-weight: 500;
	font-size: 36px;
	font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
	letter-spacing: -0.05em;
	margin: 0 0 4px 0;
}

#input-time {
	font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
	font-size: 24px;
	padding: 5px;
	border: 1px solid #183543;
	background-color: #D2D9DD;
	outline-color: #FC0;
	height: 40px;
}

#dd-distance {
	font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	padding: 5px;
	border: 1px solid #183543;
	background-color: #D2D9DD;
	vertical-align: middle;
	outline-color: #FC0;
}

.hint {
	font-size: 14px;
	color: #aaa;
}

.for {
	font-size: 24px;
	color: #FC6;
	letter-spacing: -1.25px;
	margin-top: 20px;
}

input[type=submit] {
	font-size: 15px;
	padding: 6px 16px 8px 16px;

	background-color: #F09B30;
	border-top: 1px solid #F7C78C;
	color: #183543;
	text-decoration: none;
	font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
}


/* RESULTS AREA BELOW */
.results {
	margin: 0 auto;
	width: 400px;
	padding: 40px 0 0 0;
}

.output-row {
	display: none;
	font-size: 18px;
	margin-bottom: 5px;
}

.outputDistance {
	display: inline-block;
	width: 190px;
	padding-left: 15px;
	color: #666;
}

.outputTime {
	display: inline-block;
	text-align: right;
	width: 80px;
}
