/* GLOBAL STUFF */
* {
	font-family: "Noto Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
	margin: 0;
	background-color: #D2D9DD;
}


/* STUFF IN THE TOP */
.top-bar {
	width: 100%;
	padding: 20px 0;
	background-color: #183543;

	/* margin-bottom goes on the top bar because otherwise the table jumps when it animates in */
	margin: 0 0 40px 0;
}

.top-contents {
	margin: 0 auto;
	width: 400px;
}

h1, h3 {
	color: #FC0;
	font-weight: 400;
	letter-spacing: -0.05em;
	font-size: 36px;
	margin: 0 0 2px 0;
}

.for {
	font-size: 24px;
	margin: 20px 0 0 0;
}

#input-time {
	font-size: 24px;
	padding: 10px 8px;
	border: 1px solid #183543;
	background-color: #D2D9DD;
	outline-color: #FC0;
}

#dd-distance {
	font-size: 18px;
	padding: 5px;
	border: 1px solid #183543;
	background-color: #D2D9DD;
	outline-color: #FC0;
}

.hint {
	font-size: 14px;
	color: #aaa;
}

input[type=submit] {
	cursor: pointer;
	font-size: 18px;
	font-weight: 700;
	padding: 5px 16px 6px 16px;
	background-color: #F09B30;
	border: none;
	border-top: 1px solid #F7C78C;
	color: #183543;
	transition: all 0.5s;
}

input[type=submit]:hover {
	background-color: #CC8429;
}


/* RESULTS AREA BELOW */
.results {
	display: none;
	margin: 0px auto;
	width: 400px;
}

th {
	text-align: left;
}

th, td {
	padding: 0 20px 0 0;	
}

.output-row {
	font-size: 18px;
}

.output-distance {
	padding-left: 15px;
}

.output-time {
	text-align: right;
}

td.output-distance, td.output-miles {
	color: #666;
}
